<nav class="navbar navbar-expand-lg navbar-light bg-light pl-5">
  <a class="navbar-brand" href="#">StedY</a>
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li routerLinkActive="active" class="nav-item"><a class="nav-link" routerLink="affichage">Consulter les Flux</a></li>
      <li routerLinkActive="active" class="nav-item"><a class="nav-link" routerLink="formulaire">Ajouter un Flux</a></li>
    </ul>
  </div>
</nav>

<div class="text-center">
	<router-outlet></router-outlet>
</div>

<div class="card text-center mt-5">
	<div class="card-footer text-muted">
		Calvin Triqueneaux
	</div>
</div>